<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>product price tracker</title>
</head>
<body>
    <h1>Enter product url and desired price</h1>
    <form action="/submit"method="POST">
        <label for="name">Name: </label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email: </label><br>
        <input type="text" id="email" name="email" required><br><br>

        <label for="url">Product URL: </label><br>
        <input type="url" id="url" name="url" required><br><br>

        <label for="desired_price">Desired Price (₹): </label><br>
        <input type="number" id="desired_price" name="desired_price" required><br><br>

        <label for="product_name">product name:  </label><br>
        <input type="product_name" id="product_name" name="product_name" required><br><br>

        <button type="submit">Submit :3</button>
    </form>
</body>
</html>